<!DOCTYPE html>
<html>
<%- include('head.ejs') %>
<body>
<div class="container position-relative">
    <div class="text-center">
        <h1><%= message %></h1>
        <p><%= error %></p>
        <p><a href="../" class="btn btn-warning">maybe again?</a></p>
    </div>
</div>
</body>
</html>
