<!DOCTYPE html>
<html>
<%- include('head.ejs') %>
  <body>
    <div class="container position-relative">
      <div class="text-center">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p><a href="../login" class="btn btn-success">Login</a></p>
        <p><a href="../register" class="btn btn-warning">Register</a></p>
      </div>
    </div>
  </body>
</html>
