<!DOCTYPE html>
<html>
<%- include('head.ejs') %>
<body>
<div class="container">
    <div class="text-center">
        <h1>Welcome to register page.</h1>
    </div>
        <form class="row justify-content-center" autocomplete="on" action="./register" method="POST">
            <div class="col-6">
                <label for="email"><p>Your email</p></label>
                <input type="email" class="form-control" id="email" name="email">
                <label for="username"><p>Your username</p></label>
                <input type="text" class="form-control" id="username" name="username">
                <label for="password"><p>Your password</p></label>
                <input type="password" class="form-control" id="password" name="password">
                <button type="submit" class="btn btn-success"><p>Register</p></button>
            </div>

        </form>
</div>
</body>
</html>
